@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.navbar {
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
.Header_btn {
  font-family: "Poppins";
  font-size: 16px;
  color: #fff;
  background-color: #1d537c;
  padding: 10px 30px;
  border-radius: 10px;
  transition: all 0.45s ease;
  background-image: linear-gradient(#ff9d00, #ff9d00);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  cursor: pointer;
}

.Header_btn:hover {
  background-size: 100% 100%;
  background-image: linear-gradient(#ff9d00, #ff9d00);
  color: black;
}

.links li {
  transition: all 0.45s ease;
  outline: none;
}

.links li:hover {
  transform: translateY(-4px) scale(1.06);
}

.card-transparent,
.border-transparent
{
  border: 1px solid transparent;
  transition: all .3s ease;
}
.card-transparent:hover,
.border-transparent:hover{
  border: 1px solid grey;
  transform: scale(1.1);
}

.icons_footer a{
  transition: all 0.45s ease;
  outline: none;
}
.icons_footer a:hover {
  transform: translateY(-4px) scale(1.06);
}
.phone_num{
  transition: all .5s ease;
  cursor: pointer;
}
.phone_num:hover{
  text-shadow: 0 0 1px #fff,
	0 0 3px #fff,
	0 0 5px #fff;
}

.Input_btn{
  font-family: "Poppins";
  font-size: 16px;
  background-color: #ff9d00;
  padding: 10px 30px;
  border-radius: 10px;
  transition: all 0.45s ease;
  background-image: linear-gradient(#1d537c,#1d537c );
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  cursor: pointer;
}
.Input_btn:hover{
  background-size: 100% 100%;
  color: white;
}